/* red D64045*/

.app {
  text-align: center;
}

.app-logo {
  height: 3rem;
  pointer-events: none;
}

.app-logo.--hidden {
  visibility: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 2s linear;
  }
}

.app-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.game-row {
  display: flex;
  margin: 0.67rem 0;
}

.game-dice {
  margin: 0 0.67rem;
  border-radius: 5px;
  background-color: #61dafb;
  border: none;
  height: 5rem;
  font-size: 3rem;
  width: 5rem;
  text-transform: uppercase;
  outline: none;
  text-align: center;
  padding: 0;
}

.game-dice:focus {
  background-color: #FFF;
}

.button-bar {
  display: flex;
  width: 100%;
}

.button-bar__button-container {
  width: 50%;
}

.button-bar__button-container.--right {
  text-align: right;
}

.button-bar__button-container.--left {
  text-align: left;
  display: flex;
  align-items: center;
}

.button-bar__run-button {
  background-color: #23CE6B;
}

.button-bar__random-button {
  background-color: #f96e46;
}


@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
