* {
  box-sizing: border-box;
}

html {
  font-size: calc(5px + 2vmin);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

h1 {
  margin: 0;
  padding: 3vmin 0.67rem;
  color: #FFF;
  font-size: 1.5rem;
}

button {
  border: none;
  padding: 0.67rem 1.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  color: #FFF;
  margin: 0.67rem;
  cursor: pointer;
}

button:not(:disabled):hover {
  opacity: 0.9;
}

button:disabled {
  cursor: default;
  background-color: #bdc3c7;
}
